body {
  background-color: hsl(0, 0%, 95%);
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body div {
  width: 18%;
  padding: 2.4rem;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  color: hsl(0, 0%, 95%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 70px;
}

button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 1.5em;
  padding: 0.7em 1.2em;
  border: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.box-1 button {
  color: hsl(31, 77%, 52%);
}

.box-1 button:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.box-2 button {
  color: hsl(184, 100%, 22%);
}

.box-2 button:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.box-3 button {
  color: hsl(179, 100%, 13%);
}

.box-3 button:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}

.box-1 {
  background-color: hsl(31, 77%, 52%);
}

.box-2 {
  background-color: hsl(184, 100%, 22%);
}

.box-3 {
  background-color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 650px) {
  body {
    padding: 20px 10px;
  }

  body div {
    padding: 2rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.7rem;
    margin-bottom: 40px;
  }

  button {
    font-size: 0.6rem;
  }

  img {
    width: 3rem;
  }
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
  }

  body div {
    width: 80%;
    padding: 2.4rem;
  }
}
